//
// Vars
//

//
// Styles
//

.b-banner {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  z-index: 50;
  background: $primary;
  padding: $v-unit;

  span {
    color: $white;
    font-size: $fs-read;
    font-weight: $fw-normal;
  }

  @include respond-below(sm) {
    @include flex-direction-column;

    .e-text {
      text-align: center;
    }
  }
}
